html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.top-header-container {
	width: 100%; 
	text-align: center;
	padding-top: 5px;
}

.selectors-container {
	width: 100%; 
	display: inline-block; 
	padding-top: 5px; 
	/*padding-bottom: 20px;*/
	text-align: center;
}

.selector-container {
	display: inline-block; 
	text-align: center;
}

.criteria-selector-year {
	max-width: 100px;
}

.criteria-selector-week {
	max-width: 100px;
}

.criteria-selector-player {
	max-width: 150px;
}

.criteria-selector {
	margin-left: 5px;  
	padding: 5px;
}

.content-container {
	width: 100%; 
	/*text-align: center;*/
	padding-top: 10px;
	border-top: thin solid black;
}

.winner {
	color: green;
}

.loser {
	color: red;
}

.tie {
	color: yellow;
}

.picks-table {
	border-spacing: 0px;
	width: 100%;
}

.table-header {
	border-bottom: thin solid black;
	text-align: center;
}

.records-header {
	padding-right: 15px;
	text-align: center;
}

.records-cell {
	padding-right: 15px;
}

.records-data-cell {
	text-align: center;
	padding-right: 15px;
}

.end-pick-game {
	border-left: thin solid black;
	border-right: thin solid black;
}

.first-pick-cell {
	border-left: thin solid black;
	border-right: thin solid black;
}

.pick-cell {
	border-right: thin solid black;
}

.pick-cell-bottom {
	border-right: thin solid black;
	border-bottom: thin solid black;
}

.first-pick-cell-bottom {
	border-left: thin solid black;
	border-right: thin solid black;
	border-bottom: thin solid black;
}

.pick-game-bottom {
	border-bottom: thin solid black;
}

.pick-game {
	border-left: thin solid black;
	border-right: thin solid black;
}

.last-pick-game {
	border-left: thin solid black;
	border-right: thin solid black;
	border-bottom: thin solid black;
}

.pick-result {
	border-right: thin solid black;
}

.last-pick-result {
	border-right: thin solid black;
	border-bottom: thin solid black;
}

.pick-team {
	text-align: left;
}

.last-pick-team {
	text-align: left;
	border-bottom: thin solid black;
}

.pick-record {
	text-align: center;
	border-bottom: thin solid black;
	border-right: thin solid black;
}

.last-pick-record {
	text-align: center;
	border-bottom: thin solid black;
	border-right: thin solid black;
}

/* Even rows are plain, odd rows have a grey background. */
.even-row {
	
}

.odd-row {
	background-color: #d0d0d0;
}

.edit-games-table {
	border-spacing: 0px;
}

.edit-game {
	border-left: thin solid black;
	border-right: thin solid black;
	padding: 10px;
}

.edit-game-last {
	border-left: thin solid black;
	border-right: thin solid black;
	border-bottom: thin solid black;
	padding: 10px;
}

.team-select {
	padding: 10px;
}

.edit-picks-table {
	border-spacing: 0px;
}

.edit-pick-game {
	padding: 10px;
	border-left: thin solid black;
	border-right: thin solid black;
}

.edit-pick-last-game {
	padding: 10px;
	border-left: thin solid black;
	border-right: thin solid black;
	border-bottom: thin solid black;
}


.edit-pick-team {
	padding: 10px;
	text-align: left;
	border-left: thin solid black;
	border-right: thin solid black;
}

.edit-pick-last-team {
	padding: 10px;
	text-align: left;
	border-left: thin solid black;
	border-right: thin solid black;
	border-bottom: thin solid black;
}

.edit-pick-select {
	padding: 10px;
}

.best-weeks-table-cell {
	text-align: left;
	padding-left: 8px;
}

.champions-table-cell {
	text-align: left;
	padding-left: 15px;
}

.standings-table {
	margin-left: auto;
	margin-right: auto;
}

.standings-table-head {
	text-align: left;
}

.standings-table-header {
	padding-left: 10px;
}

.standings-table-header-small {
	padding-left: 5px;
}

.standings-table-player-header {
	padding-right: 10px;
}

.standings-table-body {
}

.standings-table-row {
	vertical-align: top;
}

.standings-table-player-cell {
	padding-right: 10px;
}

.standings-table-cell {
	padding-left: 10px;
}

.standings-table-cell-small {
	padding-left: 5px;
}

.standings-table-cell-list {
	list-style: none; 
	padding: 0px; 
	margin: 0px;
}

.selection-list-container {
	display: none; 
	background-color: white; 
	border:thin solid black; 
	z-index: 5; 
	position: absolute; 
	text-align: left; 
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	/*margin-left: -100px;*/
}

.selection-list-items-container {
	max-height: 300px; 
	overflow: auto;
}

.selection-item-container {
	padding: 5px;
}

.selection-header-container {
	padding: 10px;
	border-bottom: thin solid black;
}

.selection-footer-container {
	padding: 10px;
	border-top: thin solid black;
}

.selector-link {
	padding-left: 5px;
	padding-right: 5px;
}